
/* ===================================== Import Less ================================== */
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:300,400,400italic,700,700italic);

/* ===================================== Basic CSS ==================================== */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: #444;
}

a:hover {
  color: #444;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.cp {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

p {
  margin-bottom: 0px;
  width: 100%;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}
.bg-dark{
  background-color: #14863d!important;
}
.hid {
  display: none;
}

.top-mar {
  margin-top: 15px;
}

.h-100 {
  height: 100%;
}

::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: .5 !important;
}

.container-fluid {
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  color: #545454;
}

strong {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f1f1f145 !important;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #6A6A6A;
  overflow-x: hidden;
}

.session-title {
  padding: 30px;
  margin: 0px;
  margin-bottom: 20px;
}

.session-title h2 {
  width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.session-title p {
  max-width: 850px;
  text-align: center;
  float: none;
  margin: auto;
  font-size: .83rem;
  margin-top: 15px;
}

.session-title span {
  float: right;
  font-style: italic;
}

.inner-title {
  padding: 20px;
  padding-left: 0px;
  margin: 0px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ccccccc4;
  display: block;
  padding-right: 0px;
}

.inner-title h2 {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid #863dd9;
  padding-bottom: 10px;
  margin-bottom: 0px;
  width: 300px;
}

.inner-title p {
  width: 100%;
  text-align: center;
}

.inner-title .btn {
  float: right;
  margin-top: -38px;
  font-weight: 600;
  font-size: .8rem;
}

.page-nav {
  background-image: url(img/nav.jpg);
  background-size: 100%;
  padding: 40px;
  text-align: center;
  padding-top: 265px;
  background-color: #eaeaea;
}

.page-nav ul {
  float: none;
  margin: auto;
}

@media screen and (max-width: 992px) {
  .page-nav {
    background-size: auto;
  }
}

@media screen and (max-width: 767px) {
  .page-nav {
    padding-top: 100px;
  }
}

@media screen and (max-width: 356px) {
  .page-nav {
    padding-top: 200px;
  }
}

.page-nav h2 {
  font-size: 30px;
  width: 100%;
  font-weight: 600;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .page-nav h2 {
    font-size: 26px;
  }
}

.page-nav ul li {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
}

.page-nav ul li i {
  width: 30px;
  text-align: center;
  color: #fff;
}

.page-nav ul li a {
  color: #fff;
}

.btn-success {
  background-color: #51be78;
  border-color: #51be78;
}

.btn-success:hover {
  background-color: #51be78 !important;
  border-color: #51be78 !important;
}

.btn-success:active {
  background-color: #51be78 !important;
  border-color: #51be78 !important;
}

.btn-success:focus {
  background-color: #51be78 !important;
  border-color: #51be78 !important;
  box-shadow: none !important;
}

.btn-primary {
  background-color: #14863d;
  border-color: #14863d;
}
.btn-block{
  width: 100%;
}

.btn-primary:hover {
  background-color: #14863d !important;
  border-color: #14863d !important;
}

.btn-primary:active {
  background-color: #14863d !important;
  border-color: #14863d !important;
}

.btn-primary:focus {
  background-color: #14863d !important;
  border-color: #14863d !important;
  box-shadow: none !important;
}

.btn {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.form-control:focus {
  box-shadow: none !important;
  border: 2px solid #863dd9;
}

.btn-light {
  background-color: #FFF;
  color: #3F3F3F;
}

.collapse.show {
  display: block !important;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid #863dd9 !important;
}

.form-control {
  background-color: #F8F8F8;
  margin-bottom: 20px;
}

.form-control:focus {
  background-color: #FFF;
  border-color: #CCC;
}

.container {
  max-width: 1170px;
}

@media screen and (max-width: 575px) {
  .container {
    padding: 10px 15px;
  }
}

/* =================== Header Style Starts Here =================== */
header {
  position: absolute;
  width: 100%;
  z-index: 999;
  color: #FFF;
}

header .header-top {
  padding: 20px;
}

@media screen and (max-width: 767px) {
  header .header-top {
    padding: 10px;
  }
}

header .header-top .mail-detail {
  padding-top: 15px;
}

header .header-top .mail-detail ul li {
  font-size: .85rem;
  font-weight: 600;
  padding: 3px;
}

header .header-top .logo {
  text-align: center;
}

@media screen and (max-width: 767px) {
  header .header-top .logo {
    text-align: left;
  }

  header .header-top .logo img {
    max-width: 180px;
  }
}

header .header-top .social-link {
  padding-top: 15px;
}

header .header-top .social-link ul {
  float: right;
}

header .header-top .social-link ul li {
  float: left;
  padding: 10px 15px;
}

header .header-top .social-link ul li i {
  font-size: 1.5rem;
}

header .header-nav .nav-row {
  padding: 10px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

.dropdown-menu{
  background-color: #14863d;
}

.dropdown-menu li:hover{
  color: #000!important;
}


@media screen and (max-width: 767px) {
  header .header-nav .nav-row {
    background-color: #FFF;
    margin-top: -10px;
  }

  header .header-nav .nav-row ul {
    margin-left: 0px;
    width: 100%;
  }

  header .header-nav .nav-row ul li {
    float: none;
    width: 100%;
  }

  header .header-nav .nav-row ul li a {
    color: #444;
  }
}

header .header-nav ul {
  float: none;
  margin: auto;
}

header .header-nav ul li {
  float: left;
  padding: 10px 30px;
}

@media screen and (max-width: 991px) {
  header .header-nav ul li {
    padding: 10px 25px;
  }
}

header .header-nav ul li a {
  color: #fff;
  font-weight: 600;
  font-size: .9rem;
  text-transform: uppercase;
}

header .scroll-to-fixed-fixed {
  background-color: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

header .scroll-to-fixed-fixed .nav-row {
  border: 0px !important;
}

header .scroll-to-fixed-fixed ul li a {
  color: #444;
}

header .small-menu {
  float: right;
  color: #FFF;
  font-size: 1.8rem;
  position: absolute;
  right: 13px;
  top: 10px;
}




.carousel-item img {
  position: absolute;
  object-fit: cover;
  background-position: center center;
  filter: brightness(40%);
  top: 0;
  left: 0;
  min-height: 90vh;
}
.carousel-caption{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}
.carousel-caption h1 {
  font-size: 3.8rem;
  font-weight: bold;
  color: white;
}
.carousel .carousel-item {
  height: 90vh;
}
/* =================== Destination Style Starts Here =================== */
.destinations {
  padding: 50px;
  background-color: #fff;
}

@media screen and (max-width: 940px) {
  .destinations {
    padding: 30px 10px;
  }
}

.destinations .dest-row {
  margin-top: 20px;
}

.destinations .dest-row .dest-col {
  text-align: center;
}

.destinations .dest-row .dest-col .dest-img {
  padding: 10px;
  border: 1px solid #CCC;
}

.destinations .dest-row .dest-col h3 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 600;
}

.destinations .dest-row .dest-col p {
  font-size: .93rem;
  margin-bottom: 20px;
}

.destinations .dest-row .dest-col .btn {
  box-shadow: none;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid #14863d;
  padding: 5px 20px;
}

.destinations .dest-row .dest-col:hover {
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.15);
  transition: all .25s ease;
  padding-bottom: 25px;
}

.destinations .dest-row .dest-col:hover .dest-img {
  border: none;
}

/* =================== Key Features Starts Here =================== */
.features {
  padding: 50px;
  background-color: #FFF;
}

@media screen and (max-width: 940px) {
  .features {
    padding: 30px 10px;
  }
}

.features .ker-featur-row {
  margin-top: 20px;
}

.features .featurecol .single-feature {
  margin-bottom: 50px;
  display: flex;
}

.features .featurecol .single-feature .icon {
  padding: 25px;
  margin: auto;
}

.features .featurecol .single-feature .icon i {
  font-size: 29px;
}

.features .featurecol .single-feature i {
  font-size: 1.5rem;
}

.features .featurecol .single-feature h6 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 1.2rem;
}

.features .featurecol .single-feature p {
  font-weight: 300;
  font-size: .96rem;
  color: #000;
  font-weight: 500;
}

.features .feature-left .single-feature {
  text-align: right;
  display: flex;
}

.features .feature-left .single-feature .icon {
  padding: 25px;
  margin: auto;
}

.features .feature-left .single-feature .icon i {
  font-size: 29px;
}

.features .featur-image {
  padding-top: 15px;
  text-align: center;
}

.features .featur-image img {
  margin-top: -40px;
}

/* =================== About US Starts Here =================== */
.about-us {
  padding: 50px;
  padding-top: 110px;
  background-color: #FFF;
}

@media screen and (max-width: 940px) {
  .about-us {
    padding: 30px 10px;
  }
}

.about-us .text p {
  font-weight: 300;
  font-size: .9rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
  line-height: 28px;
}

.about-us .image img {
  margin-top: 0px;
}



/* =================== Blog Style Starts Here =================== */
.blog {
  background-color: #f7f7f7;
  padding: 50px;
}

@media screen and (max-width: 940px) {
  .blog {
    padding: 30px 10px;
  }
}

.blog .blog-row .blog-col {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35);
  margin-bottom: 30px;
}

.blog .blog-row .blog-col img {
  margin-bottom: 20px;
  width: 100%;
}

.blog .blog-row .blog-col span {
  color: #a09f9f;
  font-size: .83rem;
}

.blog .blog-row .blog-col h4 {
  margin-top: 15px;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 15px;
  line-height: 26px;
}

.blog .blog-row .blog-col p {
  font-weight: 500;
  font-size: .93rem;
  line-height: 25px;
}

/* ===================================== Footer Cover Style  ================================== */
.footer-ablove {
  padding: 30px;
  background-color: #5cb400;
  color: #FFF;
  font-size: 1.5rem;
}

.footer-ablove .btn {
  float: right;
  background-color: #FFF;
  font-family: "mouse-500", Arial, Helvetica, sans-serif;
}

footer {
  padding: 80px 50px;
  background-color: #14863d;
  color: #FFF;
}

@media screen and (max-width: 940px) {
  footer {
    padding: 50px 10px;
  }
}

footer h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 600;
}

footer .about p {
  font-size: .9em;
  margin-bottom: 20px;
}

footer .about .foot-address {
  display: flex;
}

footer .about .foot-address .icon {
  padding: 20px 10px;
}

footer .about .foot-address .addet {
  font-size: .9rem;
  margin: auto 0px;
}

footer .fotblog .blohjb {
  margin-bottom: 10px;
}

footer .fotblog .blohjb p {
  font-size: .9rem;
}

footer .fotblog .blohjb span {
  font-size: .9rem;
}

footer .glink ul li {
  padding: 10px;
}

footer .glink ul li i {
  margin-right: 10px;
}

footer .glink ul li a {
  color: #FFF;
}

footer .tags ul li {
  float: left;
  padding: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  border: 1px solid #CCC;
}

.copy {
  padding: 20px;
  background-color: #191616;
  color: #FFF;
}

.copy a {
  color: #FFF;
  font-size: .85rem;
}

.copy span {
  float: right;
}

.copy span i {
  margin-right: 20px;
}

.cop-ck {
  padding: 20px;
  background-color: #ffffffbd;
}

.cop-ck h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}


/* ===================================== Responsive Style CSS ==================================== */
@media screen and (max-width: 991px) {
  .we-are-making .text-part {
    text-align: center;
  }

  .we-are-making .text-part .count .count-sing {
    margin-bottom: 20px;
  }

  .headwe-nav .container {
    padding: 10px;
  }

  header .headwe-nav .nav-div .navbar-nav .nav-item .nav-link {
    padding: 10px;
    border-right: 0px;
  }
}


/* Owl Carousel */

.place-carousel .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.place-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background: grey;
  transition: .5s;
}

.place-carousel .owl-dot.active {
  width: 40px;
  background: #14863d;
}

/* Contact Page */

li,ul{list-style:none;padding:0;margin:0}.sec-title{position:relative;padding-bottom:40px}.sec-title .title{position:relative;color:#14863d;font-size:18px;font-weight:700;padding-right:50px;margin-bottom:15px;display:inline-block;text-transform:capitalize}.sec-title .title:before{position:absolute;content:'';right:0;bottom:7px;width:40px;height:1px;background-color:#bbb}.sec-title h2{position:relative;color:#252525;font-size:36px;font-weight:700;line-height:1.5em;display:block}.sec-title.light h2{color:#fff}.contact-page-section{position:relative;padding-top:110px; padding-bottom: 110px;}.contact-page-section .inner-container{position:relative;z-index:1;background-color:#14863d;box-shadow:0 0 15px 5px rgba(0,0,0,.1)}.contact-page-section .form-column{position:relative;padding:0 0 0 15px}.contact-page-section .form-column .inner-column{position:relative;padding:60px 45px 30px;background-color:#fff}.contact-page-section .info-column{position:relative}.contact-page-section .info-column .inner-column{position:relative;padding:60px 35px}.contact-page-section .info-column h2{position:relative;color:#fff;font-size:30px;font-weight:700;line-height:1.4em;margin-bottom:45px}.contact-page-section .info-column .list-info{position:relative;margin-bottom:60px}.contact-page-section .info-column .list-info li{position:relative;margin-bottom:25px;font-size:18px;color:#fff;line-height:1.8em;padding-left:45px}.contact-page-section .info-column .list-info li:last-child{margin-bottom:0}.contact-page-section .info-column .list-info li i{position:absolute;left:0;top:8px;color:#fff;font-size:30px}.contact-form{position:relative}.contact-form .form-group{position:relative;margin-bottom:20px}.contact-form input[type=text],.contact-form input[type=email],.contact-form textarea{position:relative;display:block;width:100%;height:60px;color:#222;font-size:14px;line-height:38px;padding:10px 30px;border:1px solid #ddd;background-color:#fff;transition:all .3s ease;-ms-transition:all .3s ease;-webkit-transition:all .3s ease}.contact-form input[type=text]:focus,.contact-form input[type=email]:focus,.contact-form textarea:focus{border-color:#14863d}.contact-form textarea{height:250px;resize:none}.contact-form .theme-btn{font-size:16px;font-weight:700;margin-top:10px;text-transform:capitalize;padding:16px 39px;border:2px solid #14863d;font-family:Arimo,sans-serif;background:#14863d;display:inline-block;position:relative;line-height:24px;cursor:pointer;color:#fff}.contact-form .theme-btn:hover{color:#14863d;border-color:#14863d;background:0 0}.contact-form input.error,.contact-form select.error,.contact-form textarea.error{border-color:red!important}.contact-form label.error{display:block;line-height:24px;padding:5px 0 0;margin:0;text-transform:uppercase;font-size:12px;color:red;font-weight:500}.social-icon-four{position:relative}.social-icon-four li{position:relative;margin-right:18px;display:inline-block}.social-icon-four li.follow{color:#fff;font-weight:600;font-size:24px;display:block;margin-bottom:20px}.social-icon-four li a{position:relative;font-size:20px;color:#fff;-webkit-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease}.social-icon-four li a:hover{color:#222}







@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap");


.subscribe-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  left: 0; 
  right: 0; 
  top: 0;  
  bottom: 0;
  margin: auto;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  z-index: 1200;
}
.subscribe-container.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe {
  display: flex;
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  position: relative;
}
.subscribe .close {
  cursor: pointer;
  position: absolute;
  font-size: 3rem;
  top: -20px;
  right: -20px;
  background: #fff;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.subscribe .close:hover {
  color: #f00;
}

.subscribe .img {
  min-width: 260px;
  background: #14863d;
  background: -webkit-linear-gradient(to right bottom, #1abd56, #14863d);
  background: linear-gradient(to right bottom,#1abd56, #14863d);
  border-radius: 10px 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.subscribe .img img {
  width: 90%;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
  animation: animate_subs_img 1s alternate infinite linear;
}

.subscribe .content {
  padding: 2.5rem 1.5rem;
}
.subscribe .content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.subscribe .content p {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  line-height: 1.35;
  color: #555;
}

.subscribe .content form * {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  margin-top: 0.6rem;
  padding: 0.7rem 0.5rem;
  font-family: "Maven Pro", sans-serif;
  border-radius: 5px;
  outline: none;
}
.subscribe .content form input {
  border: 1px solid #f2f2f2;
}
.subscribe .content form button {
  cursor: pointer;
  border: none;
  color: #fff;
  box-shadow: 0 5px 15px -6px rgba(0, 0, 0, 0.6);
  background: linear-gradient(to right, #1abd56, #14863d);
  transition: box-shadow 0.25s linear;
}
.subscribe .content form button:hover {
  box-shadow: none;
}

@keyframes animate_subs_img {
  to {
    filter: drop-shadow(10px 10px 25px rgba(0, 0, 0, 0.6));
  }
}

@media screen and (max-width: 650px) {
  .subscribe {
    display: block;
    max-width: 350px;
  }
  .subscribe .img {
    min-width: auto;
    border-radius: 10px 10px 0 0;
  }
}
